> @Author.Name{Izzar Suly Nashrudin}

# **Variable**
* Variable is an address allocation in memory to store value by giving a certain name/symbol
* Variable names can consist of letters, numbers, and underscore `( _ )`
* Variable names cannot begin with a number
* To declare a variable, we must immediately fill it with its value `(initialization)`
* Variable initialization process requires assignment operator `( = )`
* Syntax initialization variable is as follows:
`VariableName = Value`

# **Data Types**
* Data types are the types of data that can be stored in a variable
* Data types can represent numeric data, text data, logical values
* Types of data types in Python are not explicitly written at the time of declaration (as in Java or
C), but are specified when initializing values
* To find out the data type of a value or variable, use the command `type()`

## **Numeric Data**
Numerical data that can be used includes integers, real numbers and complex numbers
objects of numeric type cannot be changed in value or are immutable

### **Integer (int)**
The int data type is defined directly by writing its number value without any other symbols

For example:
```
100
x = 10
print(2)
```

### **Real Number (float)**
The float data type is defined by writing its numeric value with a period separator `( . )` as afraction

For example:

```
1.5
x = 3.0
print(2.25)
```

### **Complex Number (float)**
The complex data type is defined by writing the value of a real number combined with `+` or `-`
an imaginary number ending with the letter `j`

For example:
```
1.5+2j
x = 3+3j
print(5-1j)
```

To take the real part you can call the `real` attribute, and to take the imaginary part you can
use the `imag` attribute, for example:

```
x.real
x.imag
```

### **Boolean Data Types (bool)**
* Boolean is a data type that represents `true` or `false` values
* The values that can be given are `True` or `False`
* If converted to type `int` , the value `True` will produce the value `1` and `False` will produce
the value `0`

## **Text Data**

### **String Data Types (str)**
* String in Python are a set of Unicode characters.
* Can be defined in 3 ways, namely:
  1. The text is enclosed in single quotation marks `( ' )`
  2. The text is enclosed in double quotation marks `( " )`
  3. Text enclosed in single or double quotation marks is typed 3 times `( ''' )/( """ )`
* The third way is usually used to define a string of more than one line

### **Taking Input from Keyboard**
* To take input from the keyboard, use the `input()` function which is assigned to a variable
* For example: `a = input("Enter an int number: ")`
* After running, a cursor will appear to type input
The type of data entered is always **string**

# **Exercise**

## **Self Check 1**

Pay attention to the command below!
Which is an incorrect variable initialization?

In [ ]:
var1 = 1
_var2 = 2

In [ ]:
3var3 = 3
var4

SyntaxError: invalid decimal literal (<ipython-input-4-c0db54b01a5c>, line 1)

## **Self Check 2**
Pay attention to the command below!
Determine the number or variable data type below?



```
2020.1002
a = 102
222
b = 20+2j
-5j+2
c = 10.02e-20
```

Let's check

In [ ]:
2020.1002
print(type(2020.1002))
a = 102
print(type(a))
222
print(type(222))
b = 20+2j
print(type(b))
-5j+2
print(type(-5j+2))
c = 10.02e-20
print(type(c))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'complex'>
<class 'complex'>
<class 'float'>

## **Self Check 3**
Take the real and imaginary parts of the variable `b` above?

In [ ]:
b.real

20.0

In [ ]:
b.imag

2.0

## **Self Check 4**
Pay attention to the command below!
Run it and see the results!

In [ ]:
s1='PK'
print(s1)
s2="Python"
print(s2)
s3='\nComputer Programming\nwith Python\n'
print(s3)
s4="""Computer Programming
with Python"""
print(s4)

PK
Python

Computer Programming
with Python

Computer Programming
with Python

* Because this string data type is actually a character set object, string has several functions for
string processing
* For example to change to uppercase or change to lowercase all characters, check whether the
character string is a number, concatenate several strings, etc.

## **Self Check 5**
Pay attention to the command below!
Run it and see the results!

In [ ]:
text = 'I learn Python'
print(text.upper())
print(text.lower())
print(text.capitalize())
print('10022020'.isnumeric())
print('10022o20'.isnumeric())

I LEARN PYTHON
i learn python
I learn python
True
False

* If you want to convert a value from string type to int, use the `int()` function
* Otherwise if converting from int to string, use the `str()` function
* Likewise if you want to convert from string to float, use `float()` function

## **Self Check 6**
Pay attention to the command below!
Run and determine the data type of each variable!


```
a = '1234'
b = int(a)
c = float(a)
d = True
e = int(d)
```

In [ ]:
a = '1234'
b = int(a)
c = float(a)
d = True
e = int(d)
print(a)
print(b)
print(c)
print(d)
print(e)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

1234
1234
1234.0
True
1
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'int'>

## **Self Check 7**
Pay attention to the example command below!
Run it and see the results?

Try adding commands for conversion to other data types!

In [ ]:
a = input("Input the value: ")
type(a)

Input the value: test

str